body {
    background-image: url("background.jpeg");
    background-size: cover;
}

.color {
    width: 90px;
    height: 120px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    /*transform:rotate(10deg);*/
    /*-ms-transform:rotate(10deg); 	!* IE 9 *!*/
    /*-moz-transform:rotate(10deg); 	!* Firefox *!*/
    /*-webkit-transform:rotate(-10deg); !* Safari 和 Chrome *!*/
    /*-o-transform:rotate(10deg); 	!* Opera *!*/
}

.mainDiv {
    text-align: center;
}